<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Nodejs Mysql</title>
  <!-- NAVIGATION -->
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Genero</a>
      <a class="navbar-brand" href="/directores">Director</a>
      <a class="navbar-brand" href="/productores">Productora</a>
      <a class="navbar-brand" href="/tipo">Tipo</a>
      <a class="navbar-brand" href="/media">Películas o series</a>
    </div>
  </nav>
</body>

</html>